/* Dodany CSS */
.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form {
    display: none; /* Początkowo ukryj formularz */
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative;
    top: 50%;
    cursor: pointer;
  }
  
  /* Dodatkowe stylizacje dla formularza logowania */
  .input-field {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F87E7B;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #B05574;
  }
  
  